# Puerto del servidor
PORT=3000

# Credenciales de la Service Account de Google
# Encontrás estos valores en el JSON descargado de Google Cloud Console
GOOGLE_SERVICE_ACCOUNT_EMAIL=hay-examen@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"

# ID del Google Calendar (el calendario compartido)
# Lo encontrás en: Google Calendar > Configuración del calendario > Integrar calendario > ID del calendario
GOOGLE_CALENDAR_ID=xxxxxxxxxxxxxxxxxxxxxxxx@group.calendar.google.com
